.map-container
	position relative
	width 100%
	height 100vh

	> div
		position absolute
		top 0
		left 0
		width 100%
		height 100vh
		background-size contain
		background-position center center
		background-repeat no-repeat

	.map-background
		background-image url('/layers/background.svg')

	.map-layer
		opacity 0
		transition opacity 200ms ease-out

		&.active
			opacity 1
