$thumbnailHeight = 264px

.work-thumbnail
	display block
	position relative
	overflow hidden
	width 50%
	float left
	height $thumbnailHeight
	background-position center center
	background-size cover
	border none
	cursor pointer
	outline none
	border 1px solid lighten($textColor, 85%)
	margin -1px 0 0 -1px
	box-shadow inset 0 0 0 0 $backgroundColor
	transition box-shadow $slowDuration $smoothEasing

	&:focus
		box-shadow inset 0 0 0 4px lighten($textColor, 85%)

	@media screen and (max-width: 920px)
		width 100%

	.multiline-title
		position absolute
		z-index 3
		bottom 56px
		left 24px
		transition all $slowDuration $smoothEasing

		&.interactive
			> div > div > span
				background-color $backgroundColor
				color var(--workcolor)

	&:not(:hover) .multiline-title
		margin -.1em 0 0 -.2em

	&:hover .multiline-title > div > div > span,
	&:hover .multiline-title:hover > div > div > span
		background-color $textColor
		background-color var(--workcolor)
		color $backgroundColor

	h2
		position absolute		
		left 24px
		bottom 24px
		font-weight 300
		text-align left
		font-size 1em
		z-index 2
		color lighten($textColor, 60%)
		background $backgroundColor
		box-shadow 0 0 5px 10px $backgroundColor

	.date	
		position absolute
		left 24px
		top 24px
		font-family $monospaceFontFamily
		z-index 2
		color lighten($textColor, 75%)


	svg
		stroke lighten($textColor, 75%)
		stroke var(--workcolor)
		stroke-width 1px
		fill none
		stroke-linecap round
		position absolute
		bottom 24px
		right 32px
		width auto
		height $thumbnailHeight - 48px
		z-index 1

