body
	padding 8px
	font-family 'Rubik', Helvetica, Arial, sans-serif
	font-size 16px
	font-weight 400
	line-height 1.4em
	letter-spacing .02em
	background whitesmoke

	@media screen and (max-width: 920px)
		font-size 14px

button
	font-size inherit
	font-family inherit
	letter-spacing inherit
	background none
	border none

