/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Rubik:300,300i,700,700i')

/* Basics */
@import 'nib';
@import './variables.styl'
@import './html5Reset.styl'
@import './mixins.styl'
@import './fonts.styl'

/* General rules */
@import './general.styl'
@import './typography.styl'

/* Generic components */
@import './components/link.styl'
@import './components/header.styl'
@import './components/multilineTitle.styl'

/* Pages */
@import './pages/home.styl'

/* Layout/Wrapper components */
@import './layouts/coreLayout.styl'

/* Components */
@import './components/WorkThumbnail.styl'

