/* Fonts */
$mainFontFamily			= 'Work Sans', sans-serif
$monospaceFontFamily	= 'Inconsolata', monospace

/* Colors */
$textColor				= black
$backgroundColor		= white
$interactiveColor		= blue
$interactiveHoverColor	= red

/* Text selection */
$selectionColor			= yellow

/* Durations */
$quickDuration			= 100ms
$mediumDuration			= 200ms
$slowDuration			= 400ms
$extraSlowDuration		= 2000ms

/* Easings */
$smoothEasing			= cubic-bezier(0.190, 1.000, 0.220, 1.000)
